<%- include("partials/header") %>

  <div class="sr-root">
      <div class="sr-main" style="display: flex;">
        <header class="sr-header">
          <div class="sr-header__logo"></div>
        </header>
        <div class="sr-container">
          <section class="container basic-photo">
            <div>
              <h1>Basic subscription</h1>
              <h4>1 photo per month</h4>
              <div class="pasha-image">
  
              </div>
            </div>
            <button id="basic-plan-btn">$16.99 per month</button>
         

<%- include("partials/footer") %>
